<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {{ define "links" }}
        <link rel="stylesheet" href="../static/css/header.css">
        <link rel="stylesheet" href="../static/css/form.css">
        <link rel="stylesheet" href="../static/css/download.css">

        <script defer src="../static/js/button-download.js"></script>
    {{ end }}
    <title>{{ define "title" }}Скачивание отформатированного документа{{ end }}</title>
</head>
<body>
    {{ define "content" }}
        <div class="download-header">
            <h1 class="title">
                <span class="word">Готово</span>
            </h1>
        </div>
        <div class="main-window">
            <h2 class="download-title">Скачивание документа</h2>
            <div class="download-text">
                Ваш отформатированный документ <strong>{{ .InterfaceName }}</strong> вы 
                можете скачать по кнопке ниже
            </div>
            <form enctype="multipart/form-data" method="post" action="/download?documentname={{ .Data.DocumentData.Filename }}">
                <div class="edit-button-container">
                    <button type="submit" id="edit-button-download" class="edit-button" onclick="handleClick()">Скачать документ</button>
                </div>
            </form>
            <div class="edit-button-container">
                <a href="/" class="edit-button-link">Вернуться на главную</a>
            </div>
        </div>
        <div class="main-window">
            <h2 class="download-title">Информация о тексте документа</h2>
            {{ $drawInfo := index .Data.DocumentInformation 0 }}
            {{ $drawFlag := index .Data.IsAllGood 0 }}
            {{ if $drawInfo }}
                {{ if $drawFlag }}
                    <div class="download-text">✅ В вашем документе на все рисунки есть ссылки в тексте</div>
                {{ else }}
                    <div class="download-text">‼️ В вашем документе нет ссылок в тексте на следующие номера рисунков: 
                        {{ range $index, $element := $drawInfo }}
                            {{ if not $element }}
                                {{ add $index 1 }}
                            {{ end }}
                        {{ end }}
                    </div>
                {{ end }}
            {{ else }}
                <div class="download-text">❕ В вашем документе нет рисунков</div>
            {{ end }}
            {{ $tableInfo := index .Data.DocumentInformation 1 }}
            {{ $tableFlag := index .Data.IsAllGood 1 }}
            {{ if $tableInfo }}
                {{ if $tableFlag }}
                    <div class="download-text">✅ В вашем документе на все таблицы есть ссылки в тексте</div>
                {{ else }}
                    <div class="download-text">‼️ В вашем документе нет ссылок в тексте на следующие номера таблиц: 
                        {{ range $index, $element := $tableInfo }}
                            {{ if not $element }}
                                {{ add $index 1 }}
                            {{ end }}
                        {{ end }}
                    </div>
                {{ end }}
            {{ else }}
                <div class="download-text">❕ В вашем документе нет таблиц</div>
            {{ end }}
            {{ $sourceInfo := index .Data.DocumentInformation 2 }}
            {{ $sourceFlag := index .Data.IsAllGood 2 }}
            {{ if $sourceInfo }}
                {{ if $sourceFlag }}
                    <div class="download-text">✅ В вашем документе на все источники есть ссылки в тексте</div>
                {{ else }}
                    <div class="download-text">‼️ В вашем документе нет ссылок в тексте на следующие номера источников: 
                        {{ range $index, $element := $sourceInfo }}
                            {{ if not $element }}
                                {{ add $index 1 }}
                            {{ end }}
                        {{ end }}
                    </div>
                {{ end }}
            {{ else }}
                <div class="download-text">❕ В вашем документе нет списка используемых источников</div>
            {{ end }}
        </div>
    {{ end }}
</body>
</html>