{{ define "index" }}
    <!DOCTYPE html>
    <html lang="en">
        <head>
            <meta charset="UTF-8">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <link rel="stylesheet" href="../static/css/style.css">
            <link rel="stylesheet" href="../static/css/footer.css">
            <link rel="shortcut icon" href="../static/pictures/icon.png"/>
            {{ block "links" . }} {{ end }}
            <title>{{ block "title" . }} {{ end }}</title>
        </head>
        <body>
            {{ block "content" . }} {{ end }}
            <p class="footer-text-data">© 2024-2026 Форматирование документов онлайн. Все права защищены.</p>
            <footer class="footer-container">
                <div class="gear-container-left">
                    <div class="gear-container-left-top">
                        <img class="medium-blue-gear" src="../static/pictures/gear-blue.svg" alt="gear">
                        <img class="small-white-gear" src="../static/pictures/gear-white.svg" alt="gear">
                    </div>
                    <img class="big-white-gear" src="../static/pictures/gear-white.svg" alt="gear">
                </div>
                <div class="footer-text-container">
                    <p class="footer-text">Сайт для автоматического форматирования документов. Работает круглосуточно.</p>
                    <p class="footer-text">🌟 Сделано с энтузиазмом и любовью 💙</p>
                </div>
                
                <div class="gear-container-right">
                    <div class="gear-container-right-top">
                        <img class="medium-blue-gear" src="../static/pictures/gear-blue.svg" alt="gear">
                        <img class="small-white-gear" src="../static/pictures/gear-white.svg" alt="gear">
                    </div>
                    <img class="big-white-gear" src="../static/pictures/gear-white.svg" alt="gear">
                </div>
            </footer>
        </body>
    </html>
{{ end }}