<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="stylesheet" href="../static/css/download.css">
    <link rel="stylesheet" href="../static/css/header.css">
    <link rel="shortcut icon" href="../static/pictures/icon.png"/>
    <title>Редактирование документа</title>
</head>
<body>
    <div class="main-header">
        <h1 class="title">
            <span class="word">Форматирование</span><br>
            <span class="word">документов</span><br>
            <span class="word special">онлайн</span>
        </h1>
    </div>
    <div class="main-window">
        <form enctype="multipart/form-data" method="post" action="/downloadPage"> 
            <div class="document-input-container">
                <input type="file" name="document-file" id="documentInput" class="document-input" accept=".docx"/>
                <label for="documentInput" class="document-label">
                    <img class="document-icon" src="../static/pictures/icon-download.png" alt="Иконка загрузки" />
                    <span class="document-text">Выберите документ...</span>
                    <span class="document-name"></span>
                </label>
            </div>
            <textarea name="change" class="text-input" rows="6" placeholder="Введите описание..."></textarea>
            <button type="submit" class="edit-button">Редактировать документ</button>
        </form>
    </div>
    <script src="../static/js/download.js"></script>
</body>
</html>