<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {{ define "links" }}
        <link rel="stylesheet" href="../static/css/header.css">
        <link rel="stylesheet" href="../static/css/instruction.css">
        <link rel="stylesheet" href="../static/css/form.css">
        <link rel="stylesheet" href="../static/css/preloader.css">
        <link rel="stylesheet" href="../static/css/windows.css">
        <link rel="stylesheet" href="../static/css/parameters.css">
        <link rel="stylesheet" href="../static/css/help.css">
        <link rel="stylesheet" href="../static/css/SSE.css">

        <script defer src="../static/js/parameter.js"></script>
        <script defer src="../static/js/upload.js"></script>
        <script defer src="../static/js/preloader.js"></script>
        <script defer src="../static/js/menu.js"></script>
        <script defer src="../static/js/SSE.js"></script>
        {{ if or (ne .ErrorDecorationButton "") (ne .ErrorCommentParameters "") }}
            <script defer>
                // Заменяем текущее состояние на URL без отправки POST
                history.replaceState(null, "", "/#form");
            </script>
        {{ end }}
    {{ end }}
    <title>{{ define "title" }}Форматирование документов онлайн{{ end }}</title>
</head>
<body>
    {{ define "content" }}
        <div class="main-header">
            <h1 class="title">
                <span class="word">Форматирование</span><br>
                <span class="word">документов</span><br>
                <span class="word special">онлайн</span>
            </h1>
        </div>
        <h2 id="instruction-title-id" class="instruction-title">Инструкция для форматирования документа</h2>
        <div class="instruction">
            <div class="instruction-text-container">
                <p class="instruction-text">📤 <strong>Загрузите</strong> ваш документ формата <strong>docx</strong> на сайт</p>
                <p class="instruction-text">⌨️ Если нужно, <strong>выберите</strong> в меню свои параметры форматирования. По умолчанию, документ будет отформатирован по <strong>ГОСТу</strong></p>
                <p class="instruction-text">🔘 Нажмите на кнопку <strong>«форматировать документ»</strong></p>
                <p class="instruction-text">📥 <strong>Скачайте</strong> отформатированный документ</p>
            </div>
            <div class="instruction-image-container">
                <img class="instruction-image" src="../static/pictures/instruction.png" alt="Картинка в инструкции">
            </div>
        </div>
        <div class="main-window">
            <h2 id="form" class="form-title">Отправка документа</h2>
            <form enctype="multipart/form-data" id="document-download-form" method="post" action="/#form">
                <div class="document-input-container-shell">
                    <div class="document-input-container">
                        <input type="file" name="document-file" id="documentInput" class="document-input" accept=".docx"/>
                        <label for="documentInput" class="document-label{{ .ErrorDecorationButton }}">
                            <img class="document-icon" src="../static/pictures/icon-download.png" alt="Иконка загрузки" />
                            <span class="document-text">загрузите документ...</span>
                            <span class="document-name"></span>
                        </label>
                        {{ if ne .ErrorCommentButton "" }}
                            <p class="error-text">{{ .ErrorCommentButton }}</p>
                        {{ end }}
                    </div>
                </div>
                <div class="two-windows-container">
                    <div class="window-one">
                        <a class="window-one-button" href="/menu?parameter=font">Шрифт</a>
                        <a class="window-one-button" href="/menu?parameter=fontsize">Размер шрифта</a>
                        <a class="window-one-button" href="/menu?parameter=alignment">Выравнивание текста</a>
                        <a class="window-one-button" href="/menu?parameter=spacing">Междустрочный интервал</a>
                        <a class="window-one-button" href="/menu?parameter=beforespacing">Интервал перед абзацем</a>
                        <a class="window-one-button" href="/menu?parameter=afterspacing">Интервал после абзаца</a>
                        <a class="window-one-button" href="/menu?parameter=firstindentation">Отступ первой строки</a>
                        <a class="window-one-button tooltip-container" href="/menu?parameter=listtabulation">Табуляция в списках
                            <span class="tooltip-icon">?</span>
                            <span class="tooltip-text">Табуляция – это расстояние от начала строки до начала текста.</span>
                        </a>
                    </div>
                    <div class="window-two">
                        <img id="window-preloader" class="window-preloader" src="../static/pictures/gear-darkblue.svg">
                    </div>
                </div>
                <div class="parameters-container">
                    <div class="parameters{{ .ErrorDecorationParameters }}">
                        <div class="parameter">
                            <p class="parameter-text">Шрифт:</p>
                            <input class="parameter-input" name="font" type="text" value="Times New Roman" readonly>
                        </div>
                        <div class="parameter">
                            <p class="parameter-text">Размер шрифта:</p>
                            <input class="parameter-input" name="fontsize" type="text" value="14" readonly>
                        </div>
                        <div class="parameter">
                            <p class="parameter-text">Выравнивание текста:</p>
                            <input class="parameter-input" name="alignment" type="text" value="По ширине" readonly>
                        </div>
                        <div class="parameter">
                            <p class="parameter-text">Междустрочный интервал:</p>
                            <input class="parameter-input" name="spacing" type="text" value="1.5" readonly>
                        </div>
                        <div class="parameter">
                            <p class="parameter-text">Интервал перед абзацем:</p>
                            <input class="parameter-input" name="beforespacing" type="text" value="0" readonly>
                        </div>
                        <div class="parameter">
                            <p class="parameter-text">Интервал после абзаца:</p>
                            <input class="parameter-input" name="afterspacing" type="text" value="0" readonly>
                        </div>
                        <div class="parameter">
                            <p class="parameter-text">Отступ первой строки:</p>
                            <input class="parameter-input" name="firstindentation" type="text" value="1.25" readonly>
                        </div>
                        <div class="parameter">
                            <p class="parameter-text">Табуляция в списках:</p>
                            <input class="parameter-input" name="listtabulation" type="text" value="2.0" readonly>
                        </div>
                    </div>
                </div>
                {{ if ne .ErrorCommentParameters "" }}
                    <p class="error-parameters-text">{{ .ErrorCommentParameters }}</p>
                {{ end }}
                <div class="edit-button-container">
                    <button type="submit" class="edit-button-main">Форматировать документ</button>
                </div>
            </form>
        </div>
<!--  -->
        <div id="counter">Счётчик: 0</div>
        <div id="slider"></div>
<!--  -->
        <div id="preloader" class="overlay-loader">
            <div class="loader-background color-flip"></div>
            <img class="loader-icon spinning-cog" src="../static/pictures/gear-white.svg">
        </div>
    {{ end }}
</body>
</html>