.footer-container {
    display: flex;
    width: 100%;
    text-align: left;
    align-items: center;
    min-height: 36vh;
    background: rgb(0, 60, 100);
}

.footer-text {
    font-family: "Arial";
    text-align: left;
    color: #fff;
    font-size: 25px;
    padding-left: 5%;
    padding-right: 2%;
}

@media screen and (max-width: 768px) {
    .footer-container {
        min-height: 28vh;
    }
    .footer-text {
        font-size: 21px;
    }
}

@media screen and (max-width: 480px) {
    .footer-container {
        min-height: 20vh;
    }
    .footer-text {
        font-size: 17px;
    }
}