.form-title {
    font-family: "Arial";
    text-align: center;
    font-size: 40px;
    background: rgb(207, 229, 247);
    margin: 0;
    padding: 70px 3% 0 3%;
}
.document-input-container-shell {
    display: block;
}
.document-input-container {
    position: relative;
    display: inline-block;
    height: 100%;
    margin: 5% 0;
}
.document-input {
    display: none;
}
.document-label {
    display: flex;
    align-items: center;
    padding: 12px;
    background-color: rgb(0, 113, 187);
    color: #fff;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}
.document-label:hover {
    background-color: rgb(36, 167, 255);
}
.document-icon {
    width: 21px;
    margin-right: 3px;
}
.document-text, .document-name {
    font-family: "Arial";
    font-size: 22px;
}

.text-input-container, .edit-button-container {
    display: block;
}

.text-input {
    font-family: "Arial";
    width: 65%;
    resize: none;
    max-height: 40%;
    margin-bottom: 40px;
    padding: 10px 15px;
    font-size: 18px;
    border: 2px solid rgb(0, 113, 187);
    background: rgb(227, 242, 255);
    border-radius: 25px;
    outline: none;
    transition: box-shadow 0.3s ease;
}

.text-input:focus {
    box-shadow: 0 0 20px rgb(0, 112, 187);
}

.edit-button, .edit-button-link {
    text-decoration: none;
    font-family: "Arial";
    color: #fff;
    font-size: 26px;
    margin-bottom: 3%;
    padding: 18px 34px;
    background-color: rgb(0, 113, 187);
    border-radius: 40px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.edit-button-link {
    display: inline-block;
}
.edit-button:hover, .edit-button-link:hover {
    background-color: rgb(36, 167, 255);
}

@media screen and (max-width: 768px) {
    .document-input-container {
        margin: 6% 0;
    }
    .document-label {
        padding: 10px;
        border-radius: 7px;
    }
    .document-label:hover {
        background-color: rgb(0, 113, 187);
    }
    .document-icon {
        width: 18px;
    }
    .document-text, .document-name {
        font-size: 18px;
    }
    .text-input {
        width: 75%;
        max-height: 30%;
        font-size: 16px;
        border-radius: 15px;
        margin-bottom: 30px;
    }
    .text-input:focus {
        box-shadow: none;
    }
    .edit-button, .edit-button-link {
        font-size: 22px;
        margin-bottom: 5%;
        padding: 15px 27px;
        border-radius: 30px;
    }
    .edit-button:hover, .edit-button-link:hover {
        background-color: rgb(0, 113, 187);
    }
}

@media screen and (max-width: 480px) {
    .document-input-container {
        margin: 8% 0;
    }
    .document-label {
        padding: 8px;
        border-radius: 7px;
    }
    .document-label:hover {
        background-color: rgb(0, 113, 187);
    }
    .document-icon {
        width: 16px;
    }
    .document-text, .document-name {
        font-size: 17px;
    }
    .text-input {
        width: 85%;
        font-size: 16px;
        border-radius: 10px;
        margin-bottom: 30px;
        padding: 7px 10px;
    }
    .text-input:focus {
        box-shadow: none;
    }
    .edit-button, .edit-button-link {
        font-size: 18px;
        margin-bottom: 8%;
        padding: 13px 22px;
        border-radius: 26px;
    }
    .edit-button:hover, .edit-button-link:hover {
        background-color: rgb(0, 113, 187);
    }
}