.parameters-container {
    display: flex;
    justify-content: center;
}

.parameters, .parameters-error {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 50vw;
    margin: 0 auto 4% auto;
    padding: 1vw;
    background-color: rgba(173, 192, 255, 0.45);
    border-radius: 25px;
}

.parameters {
    border: 2px solid rgb(0, 113, 187);
}
.parameters-error {
    border: 2px solid rgb(187, 0, 0);
}

.parameter {
    width: 90%;
    margin: 1vw 0;
    padding: 10px 15px;
    border: 2px solid rgb(0, 113, 187);
    border-radius: 10px;
}

.parameter-text, .parameter-input {
    text-align: center;
    font-family: "Arial";
    font-size: 1.5vw;
}

.parameter-text {
    width: 50%;
    margin: 0;
    display: inline-block;
    color: black;
}

.parameter-input {
    padding: 0;
    width: 45%;
    outline: none;
    border: none;
    background-color: rgba(255, 255, 255, 0);
    color: black;
}

@media screen and (max-width: 768px) {
    .parameters, .parameters-error {
        width: 65vw;
        padding: 2vw;
    }
    .parameter-text, .parameter-input {
        font-size: 1.8vw;
    }
}

@media screen and (max-width: 480px) {
    .parameters, .parameters-error {
        border-left: none;
        border-right: none;
        border-radius: 0;
        width: 100%;
        padding: 3vw;
    }
    .parameter-text, .parameter-input {
        font-size: 3vw;
    }
}
