.parameters-container {
    display: flex;
    justify-content: center;
}

.parameters {
    width: 45vw;
    height: 80vh;
    margin: 0 auto 4% auto;
    padding: 10px;
    border: 2px solid rgb(0, 113, 187);
    background-color: rgba(173, 192, 255, 0.45);
    border-radius: 25px;
}