body {
    margin: 0;
    padding: 0;
    height: 100%;
    display: flex;
    justify-content: center;
    background-repeat: no-repeat;
    flex-direction: column;
    background-image: url('../pictures/background.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.download-title {
    font-family: "Arial";
    text-align: left;
    font-weight: normal;
    font-size: 30px;
    background: rgb(207, 229, 247);
    margin: 0;
    padding: 70px 10%;
}

.main-window {
    width: 100%;
    min-height: 340px;
    text-align: center;
    background: rgb(207, 229, 247);
    margin: 0;
    padding: 0;
}

@media screen and (max-width: 768px) {
    body {
        background-image: url('../pictures/instruction.png');
    }
    .download-title {
        font-size: 30px;
        padding: 55px 3%;
    }
}

@media screen and (max-width: 480px) {
    .download-title {
        font-size: 18px;
        padding: 40px 3%;
    }
}