.two-windows-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.window-one, .window-two {
    width: 38vw;
    height: calc(38vw * 14 / 17);
    border: 2px solid rgb(0, 113, 187);
    margin: 0 0 4% 0;
    padding: 10px;
    overflow-y: auto;
    overflow-x: hidden; 
    display: flex;
    flex-direction: column; 
    gap: 4.9%;
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat;
    align-items: center;
}

.window-one {
    margin-right: 5vw;
    border-radius: 25px 0 0 25px;
    background-image: url('../pictures/window1.png');
}
.window-two {
    position: relative;
    border-radius: 0 25px 25px 0;
    background-image: url('../pictures/window2.png');
}

.window-one-button, .window-two-button {
    width: 45%;
    text-decoration: none;
    font-family: "Arial";
    color: #fff;
    font-size: 18px;
    padding: 10px 15px;
    background-color: rgb(0, 113, 187);
    border-radius: 10px;
    border: 1px solid white;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.window-one-button {
    transition: background-color 0.3s, color 0.3s, transform 0.3s;
}

.window-one-button:hover, .window-two-button:hover {
    background-color: rgb(36, 167, 255);
}

.window-one-button.active {
    transform: translateX(10%); /* Сдвиг вправо */
    background-color: rgb(36, 167, 255)
  }